* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.navbar-light .navbar-toggler {
  color: #fff;
  border-color: #fff;
}

.container-fluid1 {
  height: 85vh;
  background-image: url(../fotos/Manga.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  -webkit-transition: all ease-in 0.8s;
  transition: all ease-in 0.8s;
}

.container-fluid1:hover {
  background-image: url(../fotos/Reloj.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  -webkit-transition: all ease 0.8s;
  transition: all ease 0.8s;
}

.bg-light {
  background-color: white !important;
}

.brand-logo {
  font-family: 'Old Standard TT', serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ececec;
}

.navbar-light .navbar-nav .active > .nav-link {
  color: #fff;
}

.navbar-light .navbar-nav .nav-link {
  color: #fff;
}

.nav-link {
  text-transform: uppercase;
  color: #fffefe;
  font-family: 'Playfair Display SC', serif;
  font-weight: bold;
  font-size: 1rem;
}

.nav-link:hover {
  color: #fff;
}

#menu a {
  position: relative;
  display: block;
  padding: 5px;
  color: black;
}

#menu a::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: -webkit-gradient(linear, left top, right top, from(#003cff), color-stop(#003cff), to(#d606f1));
  background: linear-gradient(to right, #003cff, #003cff, #d606f1);
  z-index: 1;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
}

#menu a:hover::before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
}

html, body {
  max-width: 100% !important;
  overflow-x: hidden !important;
}

/*Footer*/
.footer-copyright {
  background-color: black;
}

.text-copy {
  color: #fff;
}

.social {
  background-color: black;
}

.social-fot {
  background-color: #1e2353;
}

.socialnet {
  font-size: 20px;
  color: #fafafa;
  margin: auto;
}

.iconfb, .icontw, .iconlink, .iconig {
  color: #fff;
  text-align: center;
  padding: 0.5rem;
  font-size: 30px;
}

.linea {
  width: 60px;
}

.colecciones {
  text-decoration: none;
  color: black;
}

.colecciones a {
  text-decoration: none;
  color: black;
}

.colecciones a:hover {
  color: #2100b3;
}

/*Fin Footer*/
html {
  scroll-behavior: smooth;
}

body {
  background-color: #fff;
  display: block;
  font-family: sans-serif;
  margin: 0;
  min-height: 100vh;
  text-decoration: none;
  overflow-x: hidden;
}

/*Seccion Quienes somos*/
.flucci {
  color: #000000;
  font-family: 'Playfair Display', serif;
  font-size: 50px;
  font-weight: bold;
}

h5 {
  color: #5955a7;
  font-family: 'Old Standard TT', serif;
  font-size: 1.9rem;
  font-weight: bold;
  margin-left: 9px;
}

.text__quienes {
  font-family: 'Roboto Condensed', sans-serif;
  color: #2d3050;
  font-size: 1.4rem;
  margin-left: 9px;
}

.text__firma {
  font-family: 'Playball', cursive;
  margin-left: 5px;
}

#img__quienes {
  border-radius: 0.6%;
}

/*Fin Quienes*/
/*Contenido body*/
#title-coleccion, #title-joyas {
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 70px;
  font-family: 'Playfair Display', serif;
}

#text-coleccion, #text-joyas {
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #000000;
  font-size: 25px;
}

/*Imagenes con efecto ellas*/
.imagenella {
  background-image: url(../fotos/Ellas.jpg);
  background-size: cover;
  width: 100%;
  height: 100vh;
  -webkit-transition: all ease-in 0.8s;
  transition: all ease-in 0.8s;
  cursor: pointer;
}

.imagenella:hover {
  background-image: url(../fotos/Ellablanco.jpg);
  -webkit-transition: all ease-in 0.8s;
  transition: all ease-in 0.8s;
}

.imagenella2 {
  background-image: url(../fotos/Ellas2.jpg);
  background-size: cover;
  width: 100%;
  height: 100vh;
  -webkit-transition: all ease-in 0.8s;
  transition: all ease-in 0.8s;
  cursor: pointer;
}

.imagenella2:hover {
  background-image: url(../fotos/Ellanegro.jpg);
  -webkit-transition: all ease-in 0.8s;
  transition: all ease-in 0.8s;
}

/*Imagenes con efecto ellas*/
/*Imagenes con efecto el*/
.imagenel {
  background-image: url(../fotos/el.jpg);
  background-size: cover;
  width: 100%;
  height: 100vh;
  -webkit-transition: all ease-in 0.8s;
  transition: all ease-in 0.8s;
  cursor: pointer;
}

.imagenel:hover {
  background-image: url(../fotos/el2.jpg);
  -webkit-transition: all ease-in 0.8s;
  transition: all ease-in 0.8s;
}

.imagenel2 {
  background-image: url(../fotos/boda.jpg);
  background-size: cover;
  width: 100%;
  height: 100vh;
  -webkit-transition: all ease-in 0.8s;
  transition: all ease-in 0.8s;
  cursor: pointer;
}

.imagenel2:hover {
  background-image: url(../fotos/boda2.jpg);
  -webkit-transition: all ease-in 0.8s;
  transition: all ease-in 0.8s;
}

.btn, .btn-joyas {
  background-color: #000000;
  color: #fff;
  font-weight: bold;
  font-family: 'Playfair Display', serif;
  font-size: 19px;
  width: 150px;
  margin-bottom: 5px;
}

/*Termian contenido body*/
.nav {
  background-color: #0e0d16;
  height: 35px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-item {
  height: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
}

/*Joyas*/
.container-fluid {
  background-color: rgba(241, 238, 238, 0.932);
}

.joyas {
  background-color: #b18478;
}

.joyas__title {
  font-weight: bold;
  font-size: 30px;
  text-transform: uppercase;
  color: #000000;
  font-family: 'Cinzel', serif;
}

.joyas-img {
  background-image: url(../fotos/pendientes1.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  width: 100%;
  height: 85vh;
}

.joyas-subtitle {
  top: 250px;
}

/*Fin Joyas*/
/*Catalogo*/
.catalogo {
  font-family: 'Cinzel', serif;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 50vh;
  background-color: #f3f3f3;
}

.card {
  margin: 5px;
  width: 100vh;
  background: radial-gradient(#e6e6e6 50%, #e6e6e6 100%);
  overflow: hidden;
  position: relative;
}

.card__img {
  display: block;
  max-width: 100%;
  height: auto;
}

.card .card__img {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.card:hover .card__img {
  -webkit-transform: scale(1.3) translateY(-20px);
          transform: scale(1.3) translateY(-20px);
  opacity: 0.8;
}

.card__text {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 10px;
  text-align: center;
  color: black;
  font-size: 18px;
}

.card__text .card__title {
  text-shadow: -0.6px -0.6px 0.6px #797a7a;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 4vh;
  margin: 0 0 20px;
  text-align: center;
  margin-top: 100px;
  -webkit-transform: translateY(30px);
          transform: translateY(30px);
  opacity: 0;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.card__text .card__description {
  text-shadow: -1px -1px 1px #000, 1px 1px 1px #000, -1px 1px 1px #000, 1px -1px 1px #000;
  font-weight: 8000;
  font-size: 2.5vh;
  color: #fff;
  -webkit-transform: translateY(30px);
          transform: translateY(30px);
  opacity: 0;
  -webkit-transition: all 0.3s ease-out 0.2s;
  transition: all 0.3s ease-out 0.2s;
}

.card__text .card__shop {
  font-size: 2vh;
  color: #fff;
  background: #000000;
  display: inline-block;
  padding: 5px 10px;
  margin-bottom: 30px;
  text-decoration: none;
  border-radius: 5px;
  opacity: 0;
  -webkit-transition: all 0.3s ease-out 0.4s;
  transition: all 0.3s ease-out 0.4s;
}

.card:hover .card__title {
  -webkit-transform: translateY(30px);
          transform: translateY(30px);
  opacity: 1;
}

.card:hover .card__description {
  -webkit-transform: translateY(30px);
          transform: translateY(30px);
  opacity: 1;
}

.card:hover .card__shop {
  -webkit-transform: translateY(30px);
          transform: translateY(30px);
  opacity: 1;
}

@media screen and (max-width: 991px) {
  .bg-light {
    background-color: #fdfdfd !important;
  }
  #menu a {
    position: relative;
    display: block;
    padding: 5px;
    color: black;
  }
}

@media screen and (max-width: 575px) {
  .row {
    display: inline-block;
    margin: auto;
  }
  .col-6 {
    max-width: 100%;
  }
}

@media screen and (max-width: 991px) {
  #submenu {
    display: none;
  }
}

@media screen and (max-width: 1320px) {
  .imagenella {
    width: 100%;
    height: 500px;
    background-position: center center;
  }
  .imagenella2 {
    width: 100%;
    height: 500px;
    background-position: center;
  }
  .imagenel {
    width: 100%;
    height: 500px;
    background-position: center left;
  }
  .imagenel2 {
    width: 100%;
    height: 500px;
    background-position: center left;
  }
}

@media screen and (max-width: 1200px) {
  .joyas-subtitle {
    top: 50px;
    max-width: 27%;
  }
}

@media screen and (max-width: 1050px) {
  .joyas-img {
    width: 100%;
    height: 100vh;
    background-position: left center;
  }
  .joyas-subtitle {
    top: 250px;
    font-size: 15px;
  }
  #title-joyas {
    font-size: 50px;
  }
  #text-joyas {
    font-size: 18px;
  }
}

@media screen and (max-width: 1000px) {
  .card__description {
    display: none;
  }
}

@media only screen and (max-width: 800px) {
  .joyas-subtitle {
    max-width: none;
    top: 300px;
    margin: auto;
  }
  #title-joyas {
    color: white;
  }
  #text-joyas {
    color: white;
  }
  .btn-joyas {
    color: black;
    border-color: aliceblue;
    background-color: white;
  }
  .joyas-img {
    background-image: url(../fotos/anillos2.jpg);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    width: 100%;
    height: 85vh;
  }
}

@media screen and (max-width: 769px) {
  .catalogo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .card__text .card__title {
    margin-bottom: 100px;
  }
  .card__text .card__shop {
    margin-bottom: 600px;
    font-size: 2.5vh;
  }
  .imagenella {
    width: 100%;
    height: 100vh;
    background-position: top center;
  }
  .imagenella2 {
    width: 100%;
    height: 100vh;
    background-position: top center;
  }
  .imagenel {
    width: 100%;
    height: 100vh;
    background-position: top left;
  }
  .imagenel2 {
    width: 100%;
    height: 100vh;
    background-position: center left;
  }
}

@media screen and (max-height: 700px) {
  .joyas-subtitle {
    top: 20px;
  }
}

@media screen and (max-width: 320px) {
  .joyas-subtitle {
    top: 200px;
  }
  #title-joyas {
    font-size: 30px;
  }
  #text-joyas {
    font-size: 12px;
  }
}

@media screen and (max-width: 240px) {
  .joyas-subtitle {
    top: 170px;
  }
  #title-joyas {
    font-size: 15px;
  }
  #text-joyas {
    font-size: 5px;
  }
}
/*# sourceMappingURL=catalogo.css.map */