.navbar-light .navbar-toggler {
  color: #fff;
  border-color: #fff;
}

.bg-light {
  background-color: white !important;
}

.brand-logo {
  font-family: 'Old Standard TT', serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ececec;
}

.navbar-light .navbar-nav .active > .nav-link {
  color: #fff;
}

.navbar-light .navbar-nav .nav-link {
  color: #fff;
}

.nav-link {
  text-transform: uppercase;
  color: #fffefe;
  font-family: 'Playfair Display SC', serif;
  font-weight: bold;
  font-size: 1rem;
}

#menu a {
  position: relative;
  display: block;
  padding: 5px;
  color: black;
}

#menu a::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: -webkit-gradient(linear, left top, right top, from(#003cff), color-stop(#003cff), to(#d606f1));
  background: linear-gradient(to right, #003cff, #003cff, #d606f1);
  z-index: 1;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
}

#menu a:hover::before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.contacto {
  width: 100%;
  height: auto;
  background: #000;
  background-image: url(../fotos/contacto.jpg);
  background-size: cover;
  background-position: bottom center;
  overflow-x: hidden;
}

.fondo {
  width: 100%;
  height: auto;
  background: rgba(0, 0, 0, 0.8);
}

.contact-us {
  margin-top: 50px;
  margin-bottom: 50px;
}

.contact-us h3,
.contact-text {
  color: #fafafa;
}

.address {
  margin-top: 14px;
  margin-left: 10px;
}

.address span {
  color: #7B1FA2;
}

.icons {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #fff;
  display: inline-block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.icons i {
  font-size: 20px;
}

.forms {
  padding: 20px;
}

.inputs input {
  margin-bottom: 13px;
  border: none;
  border-bottom: 2px solid #eee;
}

.inputs input:focus {
  margin-bottom: 13px;
  border: none;
  border-bottom: 2px solid #bbeb10;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.inputs textarea {
  margin-bottom: 13px;
  border: none;
  border-bottom: 2px solid #eee;
  width: 100%;
  resize: none;
}

.inputs textarea:focus {
  margin-bottom: 13px;
  border: none;
  border-bottom: 2px solid #bbeb10;
  -webkit-box-shadow: none;
          box-shadow: none;
  resize: none;
}

.form-control {
  padding: .375rem .25rem;
}

.footer-copyright {
  background-color: black;
}

.text-copy {
  color: #fff;
}

.social {
  background-color: black;
}

.social-fot {
  background-color: #1e2353;
}

.text-black-50 {
  color: #f8f9fa !important;
}

.socialnet {
  font-size: 20px;
  color: #fafafa;
  margin: auto;
}

.iconfb, .icontw, .iconlink, .iconig {
  color: #fff;
  text-align: center;
  padding: 0.5rem;
  font-size: 30px;
}

.linea {
  width: 60px;
}

.colecciones {
  text-decoration: none;
  color: black;
}

.colecciones a {
  text-decoration: none;
  color: black;
}

.colecciones a:hover {
  color: #2100b3;
}

@media screen and (max-width: 991px) {
  .bg-light {
    background-color: #fdfdfd !important;
  }
  #menu a {
    position: relative;
    display: block;
    padding: 5px;
    color: black;
  }
}

@media screen and (max-width: 575px) {
  .row {
    display: inline-block;
    margin: auto;
  }
  .col-6 {
    max-width: 100%;
  }
}

@media screen and (max-width: 991px) {
  #submenu {
    display: none;
  }
}

@media screen and (max-width: 1320px) {
  .imagenella {
    width: 100%;
    height: 500px;
    background-position: center center;
  }
  .imagenella2 {
    width: 100%;
    height: 500px;
    background-position: center;
  }
  .imagenel {
    width: 100%;
    height: 500px;
    background-position: center left;
  }
  .imagenel2 {
    width: 100%;
    height: 500px;
    background-position: center left;
  }
}

@media screen and (max-width: 1200px) {
  .joyas-subtitle {
    top: 50px;
    max-width: 27%;
  }
}

@media screen and (max-width: 1050px) {
  .joyas-img {
    width: 100%;
    height: 100vh;
    background-position: left center;
  }
  .joyas-subtitle {
    top: 250px;
    font-size: 15px;
  }
  #title-joyas {
    font-size: 50px;
  }
  #text-joyas {
    font-size: 18px;
  }
}

@media screen and (max-width: 1000px) {
  .card__description {
    display: none;
  }
}

@media only screen and (max-width: 800px) {
  .joyas-subtitle {
    max-width: none;
    top: 300px;
    margin: auto;
  }
  #title-joyas {
    color: white;
  }
  #text-joyas {
    color: white;
  }
  .btn-joyas {
    color: black;
    border-color: aliceblue;
    background-color: white;
  }
  .joyas-img {
    background-image: url(../fotos/anillos2.jpg);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    width: 100%;
    height: 85vh;
  }
}

@media screen and (max-width: 769px) {
  .catalogo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .card {
    width: 70%;
  }
  .card__img {
    width: 100%;
  }
  .card__text .card__title {
    margin-bottom: 50px;
  }
  .card__text .card__shop {
    margin-bottom: 50px;
    font-size: 2.5vh;
  }
  .imagenella {
    width: 100%;
    height: 100vh;
    background-position: top center;
  }
  .imagenella2 {
    width: 100%;
    height: 100vh;
    background-position: top center;
  }
  .imagenel {
    width: 100%;
    height: 100vh;
    background-position: top left;
  }
  .imagenel2 {
    width: 100%;
    height: 100vh;
    background-position: center left;
  }
}

@media screen and (max-height: 700px) {
  .joyas-subtitle {
    top: 20px;
  }
}

@media screen and (max-width: 320px) {
  .joyas-subtitle {
    top: 200px;
  }
  #title-joyas {
    font-size: 30px;
  }
  #text-joyas {
    font-size: 12px;
  }
}

@media screen and (max-width: 240px) {
  .joyas-subtitle {
    top: 170px;
  }
  #title-joyas {
    font-size: 15px;
  }
  #text-joyas {
    font-size: 5px;
  }
}
/*# sourceMappingURL=contacto.css.map */