* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.navbar-light .navbar-toggler {
  color: #fff;
  border-color: #fff;
}

.container-fluid1 {
  height: 85vh;
  background-image: url(/fotos/Manga.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  -webkit-transition: all ease-in 0.8s;
  transition: all ease-in 0.8s;
}

.container-fluid1:hover {
  background-image: url(/fotos/Reloj.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  -webkit-transition: all ease 0.8s;
  transition: all ease 0.8s;
}

.bg-light {
  background-color: white !important;
}

.brand-logo {
  font-family: 'Old Standard TT', serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ececec;
}

.navbar-light .navbar-nav .active > .nav-link {
  color: #fff;
}

.navbar-light .navbar-nav .nav-link {
  color: #fff;
}

.nav-link {
  font-family: 'Prata', serif;
  font-size: 1.2rem;
  font-weight: bold;
}

#menu a {
  position: relative;
  display: block;
  padding: 5px;
  color: black;
}

#menu a::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: -webkit-gradient(linear, left top, right top, from(#003cff), color-stop(#003cff), to(#d606f1));
  background: linear-gradient(to right, #003cff, #003cff, #d606f1);
  z-index: 1;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
}

#menu a:hover::before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #fff;
  display: block;
  font-family: sans-serif;
  margin: 0;
  min-height: 100vh;
  text-decoration: none;
  overflow-x: hidden;
}

.flucci {
  color: #000000;
  font-family: 'Playfair Display', serif;
  font-size: 50px;
  font-weight: bold;
}

h5 {
  color: #5955a7;
  font-family: 'Old Standard TT', serif;
  font-size: 1.9rem;
  font-weight: bold;
}

.text__quienes {
  font-family: 'Lato', sans-serif;
  color: #2d3050;
  text-align: justify;
  font-size: 1.4rem;
}

.text__firma {
  font-family: 'Playball', cursive;
}

#img__quienes {
  border-radius: 0.6%;
}

/*Contenido body*/
#title-ellas {
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 70px;
  font-family: 'Playfair Display', serif;
}

#text-ellas {
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #000000;
  font-size: 25px;
}

/*Imagenes con efecto ellas*/
.imagenella {
  background-image: url(/fotos/Ellas.jpg);
  background-size: cover;
  width: 100%;
  height: 100vh;
  -webkit-transition: all ease-in 0.8s;
  transition: all ease-in 0.8s;
  cursor: pointer;
}

.imagenella:hover {
  background-image: url(/fotos/Ellablanco.jpg);
  -webkit-transition: all ease-in 0.8s;
  transition: all ease-in 0.8s;
}

.imagenella2 {
  background-image: url(/fotos/Ellas2.jpg);
  background-size: cover;
  width: 100%;
  height: 100vh;
  -webkit-transition: all ease-in 0.8s;
  transition: all ease-in 0.8s;
  cursor: pointer;
}

.imagenella2:hover {
  background-image: url(/fotos/Ellanegro.jpg);
  -webkit-transition: all ease-in 0.8s;
  transition: all ease-in 0.8s;
}

/*Imagenes con efecto ellas*/
/*Imagenes con efecto el*/
.imagenel {
  background-image: url(/fotos/el.jpg);
  background-size: cover;
  width: 100%;
  height: 100vh;
  -webkit-transition: all ease-in 0.8s;
  transition: all ease-in 0.8s;
  cursor: pointer;
}

.imagenel:hover {
  background-image: url(/fotos/el2.jpg);
  -webkit-transition: all ease-in 0.8s;
  transition: all ease-in 0.8s;
}

.imagenel2 {
  background-image: url(/fotos/boda.jpg);
  background-size: cover;
  width: 100%;
  height: 100vh;
  -webkit-transition: all ease-in 0.8s;
  transition: all ease-in 0.8s;
  cursor: pointer;
}

.imagenel2:hover {
  background-image: url(/fotos/boda2.jpg);
  -webkit-transition: all ease-in 0.8s;
  transition: all ease-in 0.8s;
}

.btn {
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
  width: 150px;
}

/*Termian contenido body*/
.nav {
  background-color: #0e0d16;
  height: 35px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-item {
  height: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
}

.nav-link {
  color: #fffefe;
  font-family: 'Playfair Display', serif;
}

.nav-link:hover {
  color: #fff;
}

.container-fluid {
  background-color: rgba(241, 238, 238, 0.932);
}

.social {
  background-color: black;
}

.socialnet {
  font-size: 20px;
  color: #fff;
  margin: auto;
}

.iconfb, .icontw, .iconlink, .iconig {
  color: #fff;
  text-align: center;
  padding: 0.5rem;
  font-size: 30px;
}

.linea {
  width: 60px;
}

.colecciones {
  text-decoration: none;
  color: black;
}

.colecciones a {
  text-decoration: none;
  color: black;
}

.colecciones a:hover {
  color: #2100b3;
}

@media screen and (max-width: 991px) {
  .bg-light {
    background-color: #fdfdfd !important;
  }
  #menu a {
    position: relative;
    display: block;
    padding: 5px;
    color: black;
  }
}

@media screen and (max-width: 575px) {
  .row {
    display: inline-block;
    margin: auto;
  }
  .col-6 {
    max-width: 100%;
  }
}

@media screen and (max-width: 991px) {
  #submenu {
    display: none;
  }
}

@media screen and (max-width: 1320px) {
  .imagenella {
    width: 100%;
    height: 500px;
    background-position: center center;
  }
  .imagenella2 {
    width: 100%;
    height: 500px;
    background-position: center;
  }
  .imagenel {
    width: 100%;
    height: 500px;
    background-position: center left;
  }
  .imagenel2 {
    width: 100%;
    height: 500px;
    background-position: center left;
  }
}

@media screen and (max-width: 768px) {
  .imagenella {
    width: 100%;
    height: 100vh;
    background-position: top center;
  }
  .imagenella2 {
    width: 100%;
    height: 100vh;
    background-position: top center;
  }
  .imagenel {
    width: 100%;
    height: 100vh;
    background-position: top left;
  }
  .imagenel2 {
    width: 100%;
    height: 100vh;
    background-position: center left;
  }
}
/*# sourceMappingURL=estilos.css.map */