@media screen and (max-width: 991px) {
  .bg-light {
    background-color: #fdfdfd !important;
  }
  #menu a {
    position: relative;
    display: block;
    padding: 5px;
    color: black;
  }
}

@media screen and (max-width: 575px) {
  .row {
    display: inline-block;
    margin: auto;
  }
  .col-6 {
    max-width: 100%;
  }
}

@media screen and (max-width: 991px) {
  #submenu {
    display: none;
  }
}

@media screen and (max-width: 1320px) {
  .imagenella {
    width: 100%;
    height: 500px;
    background-position: center center;
  }
  .imagenella2 {
    width: 100%;
    height: 500px;
    background-position: center;
  }
  .imagenel {
    width: 100%;
    height: 500px;
    background-position: center left;
  }
  .imagenel2 {
    width: 100%;
    height: 500px;
    background-position: center left;
  }
}

@media screen and (max-width: 768px) {
  .imagenella {
    width: 100%;
    height: 100vh;
    background-position: top center;
  }
  .imagenella2 {
    width: 100%;
    height: 100vh;
    background-position: top center;
  }
  .imagenel {
    width: 100%;
    height: 100vh;
    background-position: top left;
  }
  .imagenel2 {
    width: 100%;
    height: 100vh;
    background-position: center left;
  }
}

@media screen and (max-width: 1200px) {
  .joyas-subtitle {
    top: 50px;
    max-width: 27%;
  }
}

@media screen and (max-width: 1050px) {
  .joyas-img {
    width: 100%;
    height: 100vh;
    background-position: left center;
  }
  .joyas-subtitle {
    top: 250px;
    font-size: 15px;
  }
  #title-joyas {
    font-size: 50px;
  }
  #text-joyas {
    font-size: 18px;
  }
}

@media only screen and (max-width: 800px) {
  .joyas-subtitle {
    max-width: none;
    top: 300px;
    margin: auto;
  }
  #title-joyas {
    color: white;
  }
  #text-joyas {
    color: white;
  }
  .btn {
    color: white;
    border-color: aliceblue;
  }
}

@media screen and (max-width: 320px) {
  .joyas-subtitle {
    top: 200px;
  }
  #title-joyas {
    font-size: 30px;
  }
  #text-joyas {
    font-size: 12px;
  }
}

@media screen and (max-width: 240px) {
  .joyas-subtitle {
    top: 170px;
  }
  #title-joyas {
    font-size: 15px;
  }
  #text-joyas {
    font-size: 5px;
  }
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #e5e7e1;
}

.contenedor {
  background-color: #e5e7e1;
}

.Title-FAQ {
  color: #ffffff;
}

.card-body {
  background-color: #fff;
  border-radius: 1%;
}

#faq {
  background-color: #131111;
  height: 900px;
  padding: 50px 0;
}

#faq h1 {
  font-weight: 900;
  font-size: 35px;
  text-align: center;
  padding: 20px 0 50px 0;
}

.acordion .card {
  border-radius: 0;
  background: none;
  border-left-width: 0;
  border-right-width: 0;
}

.acordion .card .card-header {
  margin: 20px;
  background: none;
  padding-top: 7px;
  padding-bottom: 7px;
  border-radius: 0;
}

.acordion .card-header .btn {
  color: #ffffff;
  width: 100%;
  text-align: left;
  padding-left: 0;
  padding-right: 0;
}

.btn {
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.navbar-light .navbar-toggler {
  color: #fff;
  border-color: #fff;
}

.bg-light {
  background-color: white !important;
}

.brand-logo {
  font-family: 'Old Standard TT', serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ececec;
}

.navbar-light .navbar-nav .active > .nav-link {
  color: #fff;
}

.navbar-light .navbar-nav .nav-link {
  color: #fff;
}

.nav-link {
  font-family: 'Prata', serif;
  font-size: 1.2rem;
  font-weight: bold;
}

#menu a {
  position: relative;
  display: block;
  padding: 5px;
  color: black;
}

#menu a::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: -webkit-gradient(linear, left top, right top, from(#003cff), color-stop(#003cff), to(#d606f1));
  background: linear-gradient(to right, #003cff, #003cff, #d606f1);
  z-index: 1;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
}

#menu a:hover::before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
}

.footer-copyright {
  background-color: black;
}

.text-copy {
  color: #fff;
}

.social {
  background-color: black;
}

.social-fot {
  background-color: #1e2353;
}

.socialnet {
  font-size: 20px;
  color: #fafafa;
  margin: auto;
}

.iconfb, .icontw, .iconlink, .iconig {
  color: #fff;
  text-align: center;
  padding: 0.5rem;
  font-size: 30px;
}

.linea {
  width: 60px;
}

.colecciones {
  text-decoration: none;
  color: black;
}

.colecciones a {
  text-decoration: none;
  color: black;
}

.colecciones a:hover {
  color: #2100b3;
}
/*# sourceMappingURL=FAQ.css.map */