.navbar-light .navbar-toggler {
    color: $color-blanco;
    border-color: $color-blanco;
}
.bg-light {
    background-color: rgb(255, 255, 255)!important;
}
.brand-logo{
    font-family: 'Old Standard TT', serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ececec;
}
.navbar-light .navbar-nav .active>.nav-link{
    color: $color-blanco;
}
.navbar-light .navbar-nav .nav-link {
    color: $color-blanco;
}
.nav-link{
    font-family: 'Prata', serif;
    font-size: 1.2rem;
    font-weight: bold;
}
#menu a {
    position: relative;
    display: block;
    padding: 5px;
    color: rgb(0, 0, 0);
}
#menu a::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, #003cff, #003cff, #d606f1);
    z-index: 1;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.5s ease-in-out;
 }
  
  #menu a:hover::before {
    transform: scaleX(1);
}
.contacto {
    width: 100%;
    height: auto;
    background: #000;
    background-image: url(/fotos/contacto.jpg);
    background-size: cover;
    background-position: bottom center;
    overflow-x:hidden
}
.fondo {
    width: 100%;
    height: auto;
    background: rgba(0, 0, 0, 0.8)
}

.contact-us {
    margin-top: 50px;
    margin-bottom: 50px
}

.contact-us h3,
.contact-text{
    color: rgb(250, 250, 250);
}

.address {
    margin-top: 14px;
    margin-left: 10px;
}

.address span {
    color: #7B1FA2
}

.icons {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fff;
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center
}

.icons i {
    font-size: 20px
}

.forms {
    padding: 20px
}

.inputs input {
    margin-bottom: 13px;
    border: none;
    border-bottom: 2px solid #eee
}

.inputs input:focus {
    margin-bottom: 13px;
    border: none;
    border-bottom: 2px solid $foot-color;
    box-shadow: none
}

.inputs textarea {
    margin-bottom: 13px;
    border: none;
    border-bottom: 2px solid #eee;
    width: 100%;
    resize: none
}

.inputs textarea:focus {
    margin-bottom: 13px;
    border: none;
    border-bottom: 2px solid $foot-color;
    box-shadow: none;
    resize: none
}
.form-control {
    padding: .375rem .25rem
}