*{
    margin: 0;
    padding: 0;
}
body{
    background-color: $body-color;
}
header{
    width: 100%;
    height: 50vh;
    background-image: url(https://p4.wallpaperbetter.com/wallpaper/111/1015/617/clothes-hangers-rack-wallpaper-preview.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.header__logo{
    height: 300px;
}
.menu-header__item{
    margin: 0 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: 0,5s;
    color: #fff;
}
.header_nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px;
    transition: all 1s ease;
    z-index: 1000;
    height: 150px;
}
.logo{
    display: flex;
    h1{
        font-size: 25px;
        color: #fff;
        font-weight: 100px;
    }
    .F{
        color: black;
        background-color: $foot-color;
        font-size: 50px;
        font-weight: bold;
        padding-left: 1rem;
        padding-right: 1rem;
        margin: 5px;
    }
    img{
        width: 200px;
        align-items: center;
        font-weight: bold;
    }
    .text{
        color: rgb(245, 245, 245);
    }
}
.menu-header{
    display: flex;
}
.menu-header__item{
    list-style: none;
    margin: 10px;
    a{
        color: #fff;
        text-decoration: none;
        font-weight: bold;
        transition: all 1s ease;
        &:hover{
            padding: 5px 10px;
            background: $foot-color;
            color: black;
            border-radius: 15px;
        }
    }
    
}
.contenedor{
    background-color: $body-color;
}

#faq{
    background-color: #fff;
    height: 900px;
    padding: 50px 0;
    h1{
        font-weight: 900;
        font-size: 35px;
        text-align: center;
        padding: 20px 0 50px 0;
    }
}
.acordion .card{
    border-radius: 0;
    background: none;
    border-left-width:0;
    border-right-width:0;
}
.acordion .card .card-header{
    margin: 20px;
    background: none;
    padding-top: 7px;
    padding-bottom: 7px;
    border-radius: 0;
}
.acordion .card-header .btn{
    color: #0c7f90;
    width: 100%;
    text-align: left;
    padding-left: 0;
    padding-right: 0;
}
.btn{
    text-decoration: none;
    
}

