*{
    margin: 0;
    padding: 0;
}
body{
    background-color: $body-color;
}
.contenedor{
    background-color: $body-color;
}
.Title-FAQ{
    color: #ffffff;
}
.card-body {
    background-color: #fff;
    border-radius: 1%;
}
#faq{
    background-color: rgb(19, 17, 17);
    height: 900px;
    padding: 50px 0;
    h1{
        font-weight: 900;
        font-size: 35px;
        text-align: center;
        padding: 20px 0 50px 0;
    }
}
.acordion .card{
    border-radius: 0;
    background: none;
    border-left-width:0;
    border-right-width:0;
}
.acordion .card .card-header{
    margin: 20px;
    background: none;
    padding-top: 7px;
    padding-bottom: 7px;
    border-radius: 0;
}
.acordion .card-header .btn{
    color: #ffffff;
    width: 100%;
    text-align: left;
    padding-left: 0;
    padding-right: 0;
}
.btn{
    text-decoration: none;
    
}
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
.navbar-light .navbar-toggler {
    color: $color-blanco;
    border-color: $color-blanco;
}
.bg-light {
    background-color: rgb(255, 255, 255)!important;
}
.brand-logo{
    font-family: 'Old Standard TT', serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ececec;
}
.navbar-light .navbar-nav .active>.nav-link{
    color: $color-blanco;
}
.navbar-light .navbar-nav .nav-link {
    color: $color-blanco;
}
.nav-link{
    font-family: 'Prata', serif;
    font-size: 1.2rem;
    font-weight: bold;
}
#menu a {
    position: relative;
    display: block;
    padding: 5px;
    color: rgb(0, 0, 0);
}
#menu a::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, #003cff, #003cff, #d606f1);
    z-index: 1;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.5s ease-in-out;
  }
  
#menu a:hover::before {
    transform: scaleX(1);
}
.text-black-50 {
    color: #f8f9fa!important;
}
.footer-copyright{
    background-color: black;
}
.text-copy{
    color: #fff;
}
.social{
    background-color: black;
}
.social-fot{
    background-color: rgb(30, 35, 83);
}
.socialnet{
    font-size: 20px;
    color: rgb(250, 250, 250);
    margin: auto;
}
.iconfb, .icontw, .iconlink, .iconig{
    color: #fff;
    text-align: center;
    padding: 0.5rem;
    font-size: 30px;
}
.linea{
    width: 60px;
}
.colecciones{
    text-decoration: none;
    color: black;
    a{
        text-decoration: none;
        color: black;
    }
    a:hover{
        color: rgb(33, 0, 179);
    }
}

