.social{
    background-color: black;
}
.socialnet{
    font-size: 20px;
    color: #fff;
    margin: auto;
}
.iconfb, .icontw, .iconlink, .iconig{
    color: #fff;
    text-align: center;
    padding: 0.5rem;
    font-size: 30px;
}
.linea{
    width: 60px;
}
.colecciones{
    text-decoration: none;
    color: black;
    a{
        text-decoration: none;
        color: black;
    }
    a:hover{
        color: rgb(33, 0, 179);
    }
}