* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
}
.footer-copyright{
    background-color: black;
}
.text-copy{
    color: #fff;
}
.social{
    background-color: black;
}
.social-fot{
    background-color: rgb(30, 35, 83);
}
.socialnet{
    font-size: 20px;
    color: rgb(250, 250, 250);
    margin: auto;
}
.iconfb, .icontw, .iconlink, .iconig{
    color: #fff;
    text-align: center;
    padding: 0.5rem;
    font-size: 30px;
}
.linea{
    width: 60px;
}
.colecciones{
    text-decoration: none;
    color: black;
    a{
        text-decoration: none;
        color: black;
    }
    a:hover{
        color: rgb(33, 0, 179);
    }
}