* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
}
html, body {
    max-width: 100% !important;
    overflow-x: hidden !important;
}
/*Footer*/
.footer-copyright{
    background-color: black;
}
.text-copy{
    color: #fff;
}
.social{
    background-color: black;
}
.social-fot{
    background-color: rgb(30, 35, 83);
}
.socialnet{
    font-size: 20px;
    color: rgb(250, 250, 250);
    margin: auto;
}
.iconfb, .icontw, .iconlink, .iconig{
    color: #fff;
    text-align: center;
    padding: 0.5rem;
    font-size: 30px;
}
.linea{
    width: 60px;
}
.colecciones{
    text-decoration: none;
    color: black;
    a{
        text-decoration: none;
        color: black;
    }
    a:hover{
        color: rgb(33, 0, 179);
    }
}
/*Fin Footer*/
html{
    scroll-behavior: smooth;
}
body{
    background-color:#fff;
    display: block;
    font-family: sans-serif;
    margin: 0;
    min-height: 100vh;
    text-decoration: none; 
    overflow-x: hidden;
}
/*Seccion Quienes somos*/
.flucci{
    color: $general-color;
    font-family:'Playfair Display', serif;
    font-size: 50px;
    font-weight: bold;
}
h5{
    color: rgb(89, 85, 167);
    font-family:'Old Standard TT', serif;
    font-size: 1.9rem;
    font-weight: bold;
    margin-left: 9px;
}
.text__quienes{
    font-family: 'Roboto Condensed', sans-serif;
    color: #2d3050;
    font-size: 1.4rem;
    margin-left: 9px;
}
.text__firma{
    font-family: 'Playball', cursive;
    margin-left: 5px;
}
#img__quienes{
    border-radius: 0.6%;
}
/*Fin Quienes*/
/*Contenido body*/
#title-coleccion, #title-joyas{
    text-align: center;
    justify-content: center;
    font-size: 70px;
    font-family: 'Playfair Display', serif;
}
#text-coleccion, #text-joyas{
    text-align: center;
    justify-content: center;
    color: #000000;
    font-size: 25px;
}
/*Imagenes con efecto ellas*/
.imagenella{
    background-image: url(../fotos/Ellas.jpg);
    background-size: cover;
    width: 100%;
    height: 100vh;
    transition: all ease-in 0.8s;
    cursor: pointer;
}
.imagenella:hover{
    background-image: url(../fotos/Ellablanco.jpg);
    transition: all ease-in 0.8s;
}
.imagenella2{
    background-image: url(../fotos/Ellas2.jpg);
    background-size: cover;
    width: 100%;
    height: 100vh;
    transition: all ease-in 0.8s;
    cursor: pointer;
}
.imagenella2:hover{
    background-image: url(../fotos/Ellanegro.jpg);
    transition: all ease-in 0.8s;
}
/*Imagenes con efecto ellas*/
/*Imagenes con efecto el*/
.imagenel{
    background-image: url(../fotos/el.jpg);
    background-size: cover;
    width: 100%;
    height: 100vh;
    transition: all ease-in 0.8s;
    cursor: pointer;
}
.imagenel:hover{
    background-image: url(../fotos/el2.jpg);
    transition: all ease-in 0.8s;
}
.imagenel2{
    background-image: url(../fotos/boda.jpg);
    background-size: cover;
    width: 100%;
    height: 100vh;
    transition: all ease-in 0.8s;
    cursor: pointer;
}
.imagenel2:hover{
    background-image: url(../fotos/boda2.jpg);
    transition: all ease-in 0.8s;
}
.btn, .btn-joyas{
    background-color: #000000;
    color: #fff;
    font-weight: bold;
    font-family: 'Playfair Display', serif;
    font-size: 19px;
    width: 150px;
    margin-bottom: 5px;
}
/*Termian contenido body*/
.nav{
    background-color: #0e0d16;
    height: 35px;
    align-items: center;
}
.nav-item{
    height: 35px;
    display: flex;
    text-align: center;
    align-items: center;
    color: #fff;
}
/*Joyas*/
.container-fluid{
    background-color: rgba(241, 238, 238, 0.932);
}
.joyas{
    background-color: #b18478 ;
}
.joyas__title{
    font-weight: bold;
    font-size: 30px;
    text-transform: uppercase;
    color: #000000;
    font-family: 'Cinzel', serif;
}
.joyas-img{
    background-image: url(../fotos/pendientes1.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    width: 100%;
    height: 85vh;
}
.joyas-subtitle{
    top: 250px;
}
/*Fin Joyas*/
/*Catalogo*/
.catalogo{
    font-family: 'Cinzel', serif;
    padding: 10px;
    display: flex;
    align-items: center;
    min-height: 50vh;
    background-color: #f3f3f3;
}
.card{
    margin: 5px;
    width: 100vh;
    background: radial-gradient(rgb(230, 230, 230) 50%, rgb(230, 230, 230) 100%);
    overflow: hidden;
    position: relative;
}
.card__img{
    display: block;
    max-width: 100%;
    height: auto;
}
.card .card__img{
    transform: scale(1.3);
    transition: all 0.3s ease-out;
}
.card:hover .card__img{
    transform: scale(1.3) translateY(-20px);
    opacity: 0.8;
}
.card__text{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 10px;
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 18px;
    .card__title{
        text-shadow: -0.6px -0.6px 0.6px rgb(121, 122, 122);
        text-transform: uppercase;
        font-weight: 600;
        font-size: 4vh;
        margin: 0 0 20px;
        text-align: center;
        margin-top: 100px;
        transform: translateY(30px);
        opacity: 0;
        transition: all 0.3s ease-out;
    }
    .card__description{
        text-shadow: -1px -1px 1px #000, 1px 1px 1px #000, -1px 1px 1px #000, 1px -1px 1px #000;
        font-weight: 8000;
        font-size: 2.5vh;
        color: #fff;
        transform: translateY(30px);
        opacity: 0;
        transition: all 0.3s ease-out 0.2s;
    }
    .card__shop{
        font-size: 2vh;
        color: #fff;
        background: #000000;
        display: inline-block;
        padding: 5px 10px;
        margin-bottom: 30px;
        text-decoration: none;
        border-radius: 5px;
        opacity: 0;
        transition: all 0.3s ease-out 0.4s;
    }
}
.card:hover .card__title{
    transform: translateY(30px);
    opacity: 1;
}
.card:hover .card__description{
    transform: translateY(30px);
    opacity: 1;
}
.card:hover .card__shop{
    transform: translateY(30px);
    opacity: 1;
}