*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
nav{
    background: rgb(0, 0, 0);
    height: 230px;
    width: 100%;
    .sticky{
        float: right;
        margin-right: 20px;
        li{
            display: inline-block;
            line-height: 80px;
            margin: 0 5px;
            a{
                color: #fff;
                font-size: 18px;
                padding: 7px 13px;
                border-radius: 3px;
                text-transform: uppercase;
            }
            a:hover{
                background: $foot-color;
            }
        }
    }
}
li a.active{
    color: black;
    background: $foot-color;
    transition: .5s;
}
.checkbtn{
    font-size: 30px;
    color: #fff;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
.enlace{
    position: absolute;
    padding: 20px 50px;
}
.logo{
    height: 200px;
}
