*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
.navbar-light .navbar-toggler {
    color: $color-blanco;
    border-color: $color-blanco;
}
.container-fluid1{
    height: 85vh;
    background-image: url(../fotos/Manga.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    transition: all ease-in 0.8s;
}
.container-fluid1:hover{
    background-image: url(../fotos/Reloj.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    transition: all ease 0.8s;
}
.bg-light {
    background-color: rgb(255, 255, 255)!important;
}
.brand-logo{
    font-family: 'Old Standard TT', serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ececec;
}
.navbar-light .navbar-nav .active>.nav-link{
    color: $color-blanco;
}
.navbar-light .navbar-nav .nav-link {
    color: $color-blanco;
}
.nav-link{
    color: rgb(255, 254, 254);
    font-family: 'Playfair Display SC', serif;
    font-weight: bold;
    font-size: 1.3rem;
}
.nav-link:hover{
    color: #fff;
}
#menu a {
    position: relative;
    display: block;
    padding: 5px;
    color: rgb(0, 0, 0);
}
#menu a::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, #003cff, #003cff, #d606f1);
    z-index: 1;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.5s ease-in-out;
  }
  
  #menu a:hover::before {
    transform: scaleX(1);
}