@media screen and (max-width: 991px){
    .bg-light {
        background-color: rgb(253, 253, 253)!important;
    }
    #menu a {
        position: relative;
        display: block;
        padding: 5px;
        color: rgb(0, 0, 0);
    }
}
@media screen and (max-width: 575px){
    .row {
        display: inline-block;
        margin: auto;
    }
    .col-6{
        max-width: 100%;
    }
}
@media screen and (max-width: 991px){
    #submenu{
        display: none;
    }
}